{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
        <tr>
            <th>{{id}}</th>
            <th>{{title}}</th>
            <th>{{content}}</th>
        </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles">목록으로</a>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">수정</a>

<!--<a href="/articles/revise/{{id}}">수정</a>  내가한거 위에는 강사님이한거..-->

{{>layouts/footer}}